@model CuMaster.BusinessLibrary.ViewModels.RateListViewModel

@Html.HiddenFor(m => m.BaseCurrency, new { @id="hBase"})
<div class="col-md-12">
    <table id="rateTable" class="dataTable table table-condensed" cellspacing="0"></table>
</div>
