
@{
    ViewBag.Title = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    setupMenuForLogOff();
</script>

<div class="alert alert-danger">
    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;You cannot access this page without being logged in. Please log in and try again.
</div>


