.collapse-pane {
    border-top: 0px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-color: #c5d0df;
    border-style: solid;
    padding: 10px;
    border-radius: 0px 0px 6px 6px;
    overflow: auto;
}
.collapse-bar 
{
    border-radius: 6px 6px 0px 0px;
}

.bar-collapsed
{
    border-radius: 6px 6px 6px 6px;
}

.footer 
{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #e9eef4;
}

body{padding-bottom: 70px;}

.addon-primary
{
    color: #fff;
    background-color: #44887b;
}

.addon-success {
    background-color: #dff0d8;
}

.addon-danger 
{
    background-color: #f2dede;
}

.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus
{
    color: #c5d0df;
}
